body {
    margin: 0;
    padding: 0;
}

.navbar {
}

#mainlist {
    list-style: none;
    margin-left: 1180px;
}

li {
    float: left;
    padding: 10px;
}

.mg {
    height: 34px;
    width: 34px;
}

.headbutton {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    color: white;
    background: rgb(69, 69, 224);
    border: none;
}

.rub {
    margin-top: 5px;
}

.google {
    height: 210px;
    width: 280px;
    margin-left: 620px ;
    margin-top: 50px;
}

.input {
    height: 40px;
    width: 500px;
    margin-left: 500px;
    padding-left: 40px;
    font-size: 14px;
    color: black;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    box-shadow: 0px 1px 0px 0px #e5e5e5;
}

.search {
    height: 20px;
    margin-left: 510px;
}

.searchdiv {
    margin-top: -30px;
}